<!DOCTYPE html>
<html>
    <head>
       
        <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- jquery & bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- web font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    
    <!-- my css -->
    <link rel="stylesheet" href="/bts.css">
    
    <!-- my js -->
    <script src="/script.js"></script>
    
    <title>BTS site</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
            <div class="container">
             
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item"><a href="/" class="nav-link">홈</a></li>
                  <li class="nav-item"><a href="/profile" class="nav-link">프로필</a></li>
                  <li class="nav-item"><a href="/posts" class="nav-link">게시판</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                  <% if(isAuthenticated){ %>
                    <li class="nav-item"><a href="/users/<%= currentUser.username %>" class="nav-link">내정보</a></li>
                    <li class="nav-item"><a href="/logout" class="nav-link">로그아웃</a></li>
                  <% } else { %>
                    <li class="nav-item"><a href="/users/new" class="nav-link">회원가입</a></li>
                    <li class="nav-item"><a href="/login" class="nav-link">로그인</a></li>
                  <% } %>
                </ul>
              </div>
            </div>
          </nav>
          

        <div class="jumbotron jumbotron-fluid">
        <div class="container">
         
          <div>
          <h3 class="display-4">김남준(金南俊) / Kim Nam-joon</h3>
          <p style="font-size:20px;" style="font-weight: bold;" style="font-style: italic;">"가장 복잡하다 느낄 때 가장 단순하게 바라보는 게 해답일 때가 있어요."</p><br>
        </div>
        

        <span>
        <p style="font-size:23px" style="text-align: center;" >이름 : RM(김남준)</p>
          <p style="font-size:23px" style="text-align: center;">생년월일 : 1994년 9월 12일(처녀자리) </p>
          <p style="font-size:23px" style="text-align: center;" >키 : 181cm 몸무게:64kg</p>
          <p style="font-size:23px" style="text-align: center;"> 취미: 인터넷, 글쓰기, 시쓰기  </p>
          <p style="font-size:23px" style="text-align: center;">좌우명: 최선을 다하자 </p></span>
          <img src="https://mblogthumb-phinf.pstatic.net/MjAxOTA2MTRfMTMx/MDAxNTYwNTIxMDE4ODgz.XHrSPoevXANy5cTKqECW0boDpYvtkT3mo4q7Lf3vf64g.9wHU9NdL8KS281II_UPeGm2cU3eyc4ivBoE4TT9-oMUg.JPEG.girls_sy0309/f3f1843ef81fb831ac0397661b13c1c9e010a72633d3b5596dd07681212c21e374d575c458964cdb93ad30e1b7afd12cd38522e31a91d849d7017a0a45a1353f8edd8532e288203d98ec46bcea7fc5d3c080aea71185364ce931586351524cee.jpg?type=w800" width="470" height="630">
        </span>

        <span>
          <img src="http://file3.instiz.net/data/cached_img/upload/2018/08/17/0/0ec2a3e5cf9dc001f16dee1de7f6c4c3.jpg" width="630" height="630">
        </span>

          
              
      <div class="mt-4">
        <a class="btn btn-primary" href="/profile">뒤로</a>
      </div>
        </div>
      </div>


    </body>
</html>