
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>

        <label><%=time %></label>
        <!--주소로 가는게 get메서드이고 post는 다른 방식-->
        <form method="POST">

            <input type="text" name="nick" placeholder="Enter Nick">
        </form>
    </body>
</html>