<!--ejs에서 haml언어 사용가능??-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="chat.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="chat.js"></script>
 
    </head>
    <body>
        <div id = "enter">
            <!-- 엔터를 치면 페이지 전송을 하는것 -->
            <!-- 서버에서 요청한 페이지로 넘어가는거  -->

            <form onsubmit="onEnterNick(); return false;">
                <!-- 일케 return false라 하면 엔터 쳐도 안넘어감 (onenter안쓰고 이거만 썼을때-->
                    입장<input type ="text", type ="text" name = "nick",name = "room name" ><br>
                    <!-- 방 <input type ="text" name = "room name"> -->
            </form>
        </div>
        <div id = "chat-window" class="full-screen" style="display: none;">
            
           <div class="chat-box">
                <div class="message template">
                    <img src="http://via.placeholder.com/30x30.png">
                    <div class ="text">메세지 내용</div>
                    <div class ="time">YYYYMMDD HH:mm</div>
                </div>
            </div> 
            <div class="input-message">
                <input type="text">
            </div>

        </div>
    </body>
</html>



