

/* 
    TODO+번호가 표기된 부분만 전부 빨간색이 되도록 선택자를 적어보세요 
    #TODO번호 부분을 지우고 기입하면 됩니다.
    주의사항:
    - TODO## 텍스트만 빨간색으로 표시
    - 선택자에 컴마 사용 금지
*/

h1{ color: red; }

h2{ color: red; }

h4{ color: red; }

ul>li:nth-child(3){ color: red; }

span{ color: red; }

tbody>tr:nth-child(3)>td{ color: red; }
tbody>tr:nth-child(5)>td{ color: red; }

[for="rr2"]{ color: red; }


